<div class="kuiInfoPanel kuiInfoPanel--error" ng-show="errorMessage" style="margin-bottom:10px;">
    <div class="kuiInfoPanelHeader">
        <span class="kuiInfoPanelHeader__icon kuiIcon kuiIcon--error fa-warning"></span>
        <span class="kuiInfoPanelHeader__title" ng-bind-html="errorMessage" id="sg.label.form.errormessage"></span>
    </div>
</div>
