<div ng-controller="sgBaseController">
    <div class="searchguard app-container ng-scope" id="section-editor" ng-controller="sgRoleMappingsController">

        <sgc-list-header></sgc-list-header>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <div style="margin-bottom: 10px;">
                        <h3 class="indexheading" style="display: inline;">Role Mappings</h3>
                        <div style="display: inline;">
                            <span class="kuiInfoButton help" tooltip="Use Role Mappings to configure the members of a Search Guard Role. You can use usernames, backend roles and host names to assign users to a Search Guard Role.">
                                <span class="kuiIcon fa-info-circle"></span>
                            </span>
                        </div>
                    </div>

                    <div class="kuiControlledTable">

                        <sgc-filter-bar></sgc-filter-bar>

                        <!-- Table -->
                        <table class="kuiTable" ng-show="(resourcenames | filter:query).length">
                            <thead>
                                <tr>

                                    <th class="kuiTableHeaderCell" ng-click="onSortChange('resourcename')">
                                        <span class="kuiTableHeaderCell__liner">
                                            Search Guard Role
                                        </span>
                                        <span ng-show="sortTable.byKey === 'resourcename'"
                                              class="kuiIcon"
                                              ng-class="{'fa-long-arrow-down': sortTable.descending, 'fa-long-arrow-up': ! sortTable.descending}">
                                        </span>
                                    </th>

                                    <th class="kuiTableHeaderCell">
                                        <span class="kuiTableHeaderCell__liner">
                                            Users
                                        </span>
                                    </th>

                                    <th class="kuiTableHeaderCell">
                                        <span class="kuiTableHeaderCell__liner">
                                            Backend Roles
                                        </span>
                                    </th>

                                    <th class="kuiTableHeaderCell">
                                        <span class="kuiTableHeaderCell__liner">
                                            Hosts
                                        </span>
                                    </th>

                                    <th class="kuiTableHeaderCell">
                                    </th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="rolemappingname in resourcenames | filter:query | orderBy:'toString()':sortTable.descending" class="kuiTableRow">

                                    <td class="kuiTableRowCell cellAlignTop">
                                        <div class="kuiTableRowCell__liner">
                                            <span ng-click="newRole(rolemappingname)" class="kuiStatusText__icon kuiStatusText--error kuiIcon fa-warning" ng-if="sgRoleMissing(rolemappingname)" tooltip="No corresponding Search Guard role for mapping '{{rolemappingname}}' found. Click to create it."></span>
                                            <a class="kuiLink" ng-click="edit(rolemappingname)" title="{{rolemappingname}}">
                                                {{rolemappingname}}
                                            </a>
                                            <div ng-if="resources[rolemappingname].readonly">
                                                <div class="kuiBadge kuiBadge--default" >
                                                    <span class="kuiIcon fa-lock"></span>
                                                    reserved
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td class="kuiTableRowCell cellAlignTop">
                                        <div class="kuiTableRowCell__liner">
                                            <span title="{{user}}" ng-repeat="user in resources[rolemappingname].users">{{user}}<br/></span>
                                        </div>
                                    </td>

                                    <td class="kuiTableRowCell cellAlignTop">
                                        <div class="kuiTableRowCell__liner">
                                            <span title="{{backendrole}}" ng-repeat="backendrole in resources[rolemappingname].backendroles">{{backendrole}}<br/></span>
                                        </div>
                                    </td>

                                    <td class="kuiTableRowCell cellAlignTop">
                                        <div class="kuiTableRowCell__liner">
                                            <span title="{{host}}" ng-repeat="host in resources[rolemappingname].hosts">{{host}}<br/></span>
                                        </div>
                                    </td>

                                    <td class="kuiTableRowCell actions cellAlignTop">
                                        <div class="kuiTableRowCell__liner">
                                            <a tooltip="Edit" ng-click="edit(rolemappingname)" class="kuiButton kuiButton--primary kuiButton--iconText">
                                                <span class="kuiButton__icon kuiIcon fa-edit"></span>
                                            </a>
                                            <a tooltip="Clone" ng-click="clone(rolemappingname)" class="kuiButton kuiButton--primary kuiButton--iconText">
                                                <span class="kuiButton__icon kuiIcon fa-copy"></span>
                                            </a>
                                            <button tooltip="Delete" type="button" ng-disabled="!endpointAndMethodEnabled('ROLESMAPPING', 'DELETE') || resources[rolemappingname].readonly" ng-click="confirmDelete(rolemappingname)" class="kuiButton kuiButton--danger kuiButton--iconText">
                                                <span class="kuiButton__icon kuiIcon fa-trash-o"></span>
                                            </button>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <sgc-confirmation-modal ng-if="displayModal === true"
            header="Confirm Delete"
            body="Do you really want to delete '{{deleteModalResourceName}}'"
            on-close="closeDeleteModal"
            on-confirm="delete">
        </sgc-confirmation-modal>


    </div>
</div>
