<div ng-controller="sgBaseController">

    <div class="searchguard app-container ng-scope" id="section-editor" ng-controller="sgSystemController">

        <sgc-header></sgc-header>

        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <div style="margin-bottom: 10px;">
                        <h3 class="indexheading" style="display: inline;">Search Guard System Status</h3>
                        <div style="display: inline;">
                            <span class="kuiInfoButton help" tooltip="Displays information about your cluster, the loaded Search Guard modules and your Search Guard license. You can also upload a new license here.">
                                <span class="kuiIcon fa-info-circle"></span>
                            </span>
                            <a ng-href="#/" class="kuiButton kuiButton--basic kuiButton--iconText" style="display: inline; float: right;">
                                <span class="kuiButton__icon kuiIcon fa-chevron-left"></span>
                                Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="!systeminfo.sg_license.is_valid" style="margin-top: 20px;">
                <div class="col-xs-12">
                    <p class="error-message">
                        The Search Guard license key is not valid for this cluster. Reason:
                        <ul>
                            <li class="error-message" data-ng-repeat="msg in systeminfo.sg_license.msgs" ng-bind="msg" ></li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div>

                        <div class="kuiHeaderBar topBottomMargin">
                            <div class="kuiHeaderBarSection">
                                <h2 class="kuiSubTitle">Cluster</h2>
                            </div>
                        </div>

                        <table class="kuiTable">
                            <thead>
                                <tr>
                                    <th class="kuiTableHeaderCell kuiTableHeaderCell">
                                        <span class="kuiTableHeaderCell__liner">
                                            Name
                                        </span>
                                    </th>
                                    <th class="kuiTableHeaderCell kuiTableHeaderCell">
                                        <span class="kuiTableHeaderCell__liner">
                                            Value
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  class="kuiTableRow">
                                    <td class="kuiTableRowCell cellAlignTop">
                                        <div class="kuiTableRowCell__liner">
                                            Clustername
                                        </div>
                                    </td>
                                    <td class="kuiTableRowCell cellAlignTop" >
                                        <div ng-bind="systeminfo.cluster_name" class="kuiTableRowCell__liner"></div>
                                    </td>
                                </tr>
                                <tr  class="kuiTableRow">
                                    <td class="kuiTableRowCell cellAlignTop">
                                        <div class="kuiTableRowCell__liner">
                                            Nodes
                                        </div>
                                    </td>
                                    <td class="kuiTableRowCell cellAlignTop" >
                                        <div ng-bind="systeminfo._nodes.total" class="kuiTableRowCell__liner"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="kuiHeaderBar topBottomMargin" >
                            <div class="kuiHeaderBarSection">
                                <h2 class="kuiSubTitle">License</h2>
                            </div>
                            <div class="kuiHeaderBarSection">
                                <span class="kuiText">
                                    <span class="kuiStatusText kuiStatusText--error">
                                        <button type="button" ng-click="new()" class="kuiButton kuiButton--primary kuiButton--iconText" style="margin-bottom: 5px;">
                                        <span class="kuiButton__icon kuiIcon fa-plus"></span>
                                            Upload new license
                                        </button>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <table class="kuiTable">
                            <thead>
                            <tr>
                                <th class="kuiTableHeaderCell kuiTableHeaderCell">
                                    <span class="kuiTableHeaderCell__liner">
                                        Name
                                    </span>
                                </th>
                                <th class="kuiTableHeaderCell kuiTableHeaderCell">
                                    <span class="kuiTableHeaderCell__liner">
                                        Value
                                    </span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  class="kuiTableRow">
                                <td class="kuiTableRowCell cellAlignTop">
                                    <div class="kuiTableRowCell__liner">
                                        Type
                                    </div>
                                </td>
                                <td class="kuiTableRowCell cellAlignTop" >
                                    <div ng-bind="systeminfo.sg_license.type" class="kuiTableRowCell__liner"></div>
                                </td>
                            </tr>
                            <tr  class="kuiTableRow">
                                <td class="kuiTableRowCell cellAlignTop">
                                    <div class="kuiTableRowCell__liner">
                                        Nodes
                                    </div>
                                </td>
                                <td class="kuiTableRowCell cellAlignTop" >
                                    <div class="kuiTableRowCell__liner" ng-bind="systeminfo.sg_license.allowed_node_count_per_cluster"></div>
                                </td>
                            </tr>
                            <tr  class="kuiTableRow">
                                <td class="kuiTableRowCell cellAlignTop">
                                    <div class="kuiTableRowCell__liner">
                                        Issued to
                                    </div>
                                </td>
                                <td class="kuiTableRowCell cellAlignTop" >
                                    <div ng-bind="systeminfo.sg_license.issued_to" class="kuiTableRowCell__liner"></div>
                                </td>
                            </tr>

                            <tr  class="kuiTableRow">
                                <td class="kuiTableRowCell cellAlignTop">
                                    <div class="kuiTableRowCell__liner">
                                        UID
                                    </div>
                                </td>
                                <td class="kuiTableRowCell cellAlignTop" >
                                    <div ng-bind="systeminfo.sg_license.uid" class="kuiTableRowCell__liner"></div>
                                </td>
                            </tr>

                            <tr  class="kuiTableRow">
                                <td class="kuiTableRowCell cellAlignTop">
                                    <div class="kuiTableRowCell__liner">
                                        Start Date
                                    </div>
                                </td>
                                <td class="kuiTableRowCell cellAlignTop" >
                                    <div ng-bind="systeminfo.sg_license.start_date" class="kuiTableRowCell__liner"></div>
                                </td>
                            </tr>
                            <tr  class="kuiTableRow">
                                <td class="kuiTableRowCell cellAlignTop">
                                    <div class="kuiTableRowCell__liner">
                                        End Date
                                    </div>
                                </td>
                                <td class="kuiTableRowCell cellAlignTop" >
                                    <div ng-bind="systeminfo.sg_license.expiry_date" class="kuiTableRowCell__liner"></div>
                                </td>
                            </tr>
                            <tr  class="kuiTableRow">
                                <td class="kuiTableRowCell cellAlignTop">
                                    <div class="kuiTableRowCell__liner">
                                        Days left
                                    </div>
                                </td>
                                <td class="kuiTableRowCell cellAlignTop" >
                                    <div ng-bind="systeminfo.sg_license.expiry_in_days" class="kuiTableRowCell__liner"></div>
                                </td>
                            </tr>
                            <tr  class="kuiTableRow">
                                <td class="kuiTableRowCell cellAlignTop">
                                    <div class="kuiTableRowCell__liner">
                                        Is valid?
                                    </div>
                                </td>
                                <td class="kuiTableRowCell cellAlignTop" >
                                    <div ng-bind="systeminfo.sg_license.is_valid" class="kuiTableRowCell__liner"></div>
                                </td>
                            </tr>
                            <tr  class="kuiTableRow">
                                <td class="kuiTableRowCell cellAlignTop">
                                    <div class="kuiTableRowCell__liner">
                                        Is expired?
                                    </div>
                                </td>
                                <td class="kuiTableRowCell cellAlignTop" >
                                    <div ng-bind="systeminfo.sg_license.is_expired" class="kuiTableRowCell__liner"></div>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                        <div class="kuiHeaderBar topBottomMargin">
                            <div class="kuiHeaderBarSection">
                                <h2 class="kuiSubTitle">Active Modules</h2>
                            </div>
                        </div>

                        <table class="kuiTable">
                            <thead>
                            <tr>
                                <th class="kuiTableHeaderCell kuiTableHeaderCell">
                                    <span class="kuiTableHeaderCell__liner">
                                        Name
                                    </span>
                                </th>
                                <th class="kuiTableHeaderCell kuiTableHeaderCell">
                                    <span class="kuiTableHeaderCell__liner">
                                        Version
                                    </span>
                                </th>
                                <th class="kuiTableHeaderCell kuiTableHeaderCell">
                                    <span class="kuiTableHeaderCell__liner">
                                        Is Enterprise Module
                                    </span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  class="kuiTableRow" data-ng-repeat="modulekey in keys(systeminfo.modules).sort()">
                                <td class="kuiTableRowCell cellAlignTop">
                                    <div class="kuiTableRowCell__liner" ng-bind="systeminfo.modules[modulekey].description"></div>
                                </td>
                                <td class="kuiTableRowCell cellAlignTop">
                                    <div class="kuiTableRowCell__liner" ng-bind="systeminfo.modules[modulekey].version"></div>
                                </td>
                                <td class="kuiTableRowCell cellAlignTop">
                                    <div class="kuiTableRowCell__liner" ng-bind="systeminfo.modules[modulekey].is_enterprise"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="margin-bottom: 20px; margin-top: 20px;">
                </div>
            </div>
        </div>
    </div>
</div>
