@import "~ui/styles/variables/colors.less";
@import "~ui/styles/variables/bootstrap-mods.less";

.content {
  background: @gray14;
}

.app-wrapper {
  left: 0;
}

.global-nav.is-global-nav-open + .app-wrapper {
  left: 0;
}

.btn-default {
  background-color: #73b626;
  color: #ffffff;
}

.btn-default:hover {
  background-color: #5e9b24;
  color: #ffffff;
}

.brand-image-container {
  width: 350px;
  margin-bottom: 15px;
  text-align: center;
}

.brand-image {
  max-width: 300px;
  text-align: center;
}


.login-wrapper {
  position: absolute;
  width: 350px;
  top: 10%;
  left: 50%;
  margin-left: -160px;

  background: white;
  border-radius: @border-radius-base;
  padding: 1em;

  .login-title {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 10px;
  }

  .login-subtitle {
    font-size: 1em;
    text-align: center;
    padding-bottom: 15px;
  }

  .login-form {
    .input-group {
      margin-bottom: 1em;
    }

    /**
    * Override Kibana UI's styling on fields that have a required attribute.
    * This prevents input fields to be marked as invalid on page load.
    * As soon as the field has been edited, Angular's validation takes over.
    */
    .kuiTextInput:placeholder-shown:invalid {
      border-color: #D9D9D9;
    }

    .btn-login {
      width: 100%;
    }
  }

  .error-message {
    color: red;
    text-align: center;
    margin-top: @form-group-margin-bottom;
    margin-bottom: 0;
  }

  .license-error {
    font-weight: bold;
    font-size: large;
    margin-bottom: 20px;
  }

  .licensehint {
    color: #555;
    font-weight: 400;
  }
}

