<div class="container login-wrapper" style='{{ui.showbrandimage? "" : "top:30%"}}'>

  <div class="text-center brand-image-container" ng-show="ui.showbrandimage">
    <img class="brand-image" src="{{ui.brandimage}}" width="300">
  </div>

  <div class="text-center license-error"><sg-license-warning></sg-license-warning></div>

  <p class="login-title" ng-show="ui.logintitle != ''">{{ui.logintitle}}</p>

  <p class="login-subtitle" ng-show="ui.loginsubtitle != ''">{{ui.loginsubtitle}}</p>

  <form class="login-form" ng-submit="ui.submit()" method="post">
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-user"></i></div>
      <input type="text" class="form-control kuiTextInput" id="sg.username" name="username" placeholder="Username"
             ng-model="ui.credentials.username" ng-required="ui.errorMessage || ! ui.credentials.username" autofocus/>
    </div>
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-lock"></i></div>
      <input type="password" class="form-control kuiTextInput" id="sg.password" name="password" placeholder="Password"
             ng-model="ui.credentials.password" ng-required="ui.errorMessage || ! ui.credentials.password"/>
    </div>
    <button id="sg.login" type="submit" class="btn btn-default btn-login" style="{{ui.buttonstyle}}">Log in</button>
  </form>

  <p class="error-message" id="sg.errormessage" ng-if="ui.errorMessage">{{ ui.errorMessage }}</p>

</div>
