<div class="kuiLocalNav">
    <div class="kuiLocalNavRow">
        <div class="kuiLocalNavRow__section">
            <div class="headerHeadline" id="sg.label.header.title">
                {{title}}
            </div>
        </div>
    </div>
    <div class="kuiLocalNavRow__section">
        <div class="headerHeadline"><sg-license-warning ></sg-license-warning></div>
    </div>
</div>


