<div ng-controller="sgBaseController">
    <div class="searchguard app-container ng-scope" id="section-editor" ng-controller="sgEditActionGroupsController">

        <sgc-edit-header></sgc-edit-header>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="">
                        <form name="objectForm" id="object-form" method="post" ng-submit="saveObject($event)" novalidate style="width:70%">

                            <sgc-error-message></sgc-error-message>

                            <sgc-form-resource-name></sgc-form-resource-name>

                            <sgc-form-new-resource-field></sgc-form-new-resource-field>

                            <sgc-permissions on-should-confirm="confirmRemoveArrayEntry" permissionsResource="resource"></sgc-permissions>

                            <div class="formsubmit">
                                <button ng-disabled="!endpointAndMethodEnabled('ACTIONGROUPS', 'PUT') || resource.readonly" class="kuiButton kuiButton--primary kuiButton--text" type="submit">Submit</button>
                                <button class="kuiButton kuiButton--basic kuiButton--text" type="button" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <sgc-confirmation-modal ng-if="deleteFromEditModal.displayModal"
            header="{{deleteFromEditModal.header}}"
            body="{{deleteFromEditModal.body}}"
            params="deleteFromEditModal.params"
            on-confirm="deleteFromEditModal.onConfirm"
            on-close="deleteFromEditModal.onClose"
        ></sgc-confirmation-modal>
    </div>
</div>
