<div ng-controller="sgBaseController">
    <div class="searchguard ng-scope" id="section-editor" ng-controller="sgActionGroupsController">

        <sgc-list-header></sgc-list-header>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div style="margin-bottom: 10px;">
                        <h3 class="indexheading" style="display: inline;">Action Groups</h3>
                        <div style="display: inline;">
                            <span class="kuiInfoButton help" tooltip="Action Groups are named groups of permissions. You can assign Action Groups to Search Guard Roles to configure their access permissions to indices and document types.">
                                <span class="kuiIcon fa-info-circle"></span>
                            </span>
                        </div>
                    </div>

                    <div class="kuiControlledTable">

                        <sgc-filter-bar></sgc-filter-bar>

                        <!-- Table -->
                        <table class="kuiTable" ng-show="(resourcenames | filter:query).length">
                            <thead>
                                <tr>

                                    <th class="kuiTableHeaderCell" ng-click="onSortChange('resourcename')">
                                        <span class="kuiTableHeaderCell__liner">
                                            Action Group Name
                                        </span>
                                        <span ng-show="sortTable.byKey === 'resourcename'"
                                              class="kuiIcon"
                                              ng-class="{'fa-long-arrow-down': sortTable.descending, 'fa-long-arrow-up': ! sortTable.descending}">
                                        </span>
                                    </th>

                                    <th class="kuiTableHeaderCell">
                                        <span class="kuiTableHeaderCell__liner">
                                            Permissions
                                        </span>
                                    </th>

                                    <th class="kuiTableHeaderCell">
                                        <span class="kuiTableHeaderCell__liner">
                                            Action Groups
                                        </span>
                                    </th>

                                    <th class="kuiTableHeaderCell kuiTableHeaderCell">
                                    </th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="actiongroupname in resourcenames | filter:query | orderBy:'toString()':sortTable.descending" class="kuiTableRow">

                                    <td class="kuiTableRowCell cellAlignTop">
                                        <div class="kuiTableRowCell__liner">
                                            <a class="kuiLink" ng-click="edit(actiongroupname)" title="{{actiongroupname}}">
                                                {{actiongroupname}}
                                            </a>
                                            <div ng-if="resources[actiongroupname].readonly">
                                                <div class="kuiBadge kuiBadge--default" >
                                                    <span class="kuiIcon fa-lock"></span>
                                                    reserved
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td class="kuiTableRowCell cellAlignTop">
                                        <div class="kuiTableRowCell__liner">
                                            <span title="{{permission}}" ng-repeat="permission in resources[actiongroupname].permissions">{{permission}}<br/></span>
                                        </div>
                                    </td>

                                    <td class="kuiTableRowCell cellAlignTop">
                                        <div class="kuiTableRowCell__liner">
                                            <span title="{{actiongroup}}" ng-repeat="actiongroup in resources[actiongroupname].actiongroups">{{actiongroup}}<br/></span>
                                        </div>
                                    </td>

                                    <td class="kuiTableRowCell actions cellAlignTop">
                                        <div class="kuiTableRowCell__liner">
                                            <a tooltip="Edit" ng-click="edit(actiongroupname)" class="kuiButton kuiButton--primary kuiButton--iconText">
                                                <span class="kuiButton__icon kuiIcon fa-edit"></span>
                                            </a>
                                            <a tooltip="Clone" ng-click="clone(actiongroupname)" class="kuiButton kuiButton--primary kuiButton--iconText">
                                                <span class="kuiButton__icon kuiIcon fa-copy"></span>
                                            </a>
                                            <button tooltip="Delete" type="button" ng-disabled="!endpointAndMethodEnabled('ACTIONGROUPS', 'DELETE') || resources[actiongroupname].readonly" ng-click="confirmDelete(actiongroupname)" class="kuiButton kuiButton--danger kuiButton--iconText">
                                                <span class="kuiButton__icon kuiIcon fa-trash-o"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <sgc-confirmation-modal ng-if="displayModal === true"
            header="Confirm Delete"
            body="Do you really want to delete '{{deleteModalResourceName}}'"
            on-close="closeDeleteModal"
            on-confirm="delete">
        </sgc-confirmation-modal>

    </div>
</div>
