<div ng-controller="sgBaseController">
    <div class="searchguard app-container ng-scope" id="section-editor" ng-controller="sgEditInternalUsersController">

        <sgc-edit-header></sgc-edit-header>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="">
                        <form class="editResourceForm" name="objectForm" id="object-form" method="post" ng-submit="saveObject($event)" novalidate>

                            <sgc-error-message></sgc-error-message>

                            <sgc-form-resource-name></sgc-form-resource-name>

                            <sgc-form-new-resource-field></sgc-form-new-resource-field>

                            <div class="form-group">
                                <label for="object-form-password">Password <span ng-if="!isNew" class="labelhint">(leave empty to keep current password)</span></label>
                                <input
                                        id="object-form-password"
                                        type="password"
                                        autocomplete="new-password"
                                        ng-model="resource.password"
                                        class="form-control"
                                        ng-required="isNew">
                            </div>
                            <div class="form-group">
                                <label for="object-form-password-confirmation">Repeat password <span ng-if="!isNew" class="labelhint">(leave empty to keep current password)</span></label>
                                <span ng-if="objectForm.passwordConfirmation.$error.match" class="fieldError">Passwords must match.</span>
                                <input
                                        id="object-form-password-confirmation"
                                        name="passwordConfirmation"
                                        type="password"
                                        autocomplete="new-password"
                                        ng-model="resource.passwordConfirmation"
                                        class="form-control"
                                        match="resource.password"
                                        ng-required="isNew"/>
                            </div>

                            <!-- Backend Roles -->
                            <table class="kuiTable tableIndexGroups">
                                <thead>
                                    <tr>
                                        <th class="kuiTableHeaderCell tableHeaderCellIndexGroups">
                                            <span class="kuiTableHeaderCell__liner">
                                                Backend Roles
                                            </span>
                                        </th>

                                        <th class="kuiTableHeaderCell">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="kuiTableRow" ng-if="resource.roles.length == 0">
                                        <td colspan="2" class="kuiTableRowCell">
                                            <div class="kuiPanel kuiPanel--centered kuiPanel--noborder">
                                                <div class="kuiEmptyTablePrompt kuiEmptyTablePrompt--nopadding">
                                                    <div class="kuiEmptyTablePrompt__message ng-binding">No backend roles found</div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="kuiTableRow" data-ng-repeat="role in resource.roles track by $index">
                                        <td class="kuiTableRowCell cellAlignTop">
                                            <fieldset class="marginbottom--small" id="object-form-backendroles-{{resource.roles[$index]}}">
                                                <input type="text" class="kuiTextInput fullwidth" ng-model="resource.roles[$index]" name="">
                                            </fieldset>
                                        </td>
                                        <td class="kuiTableRowCell cellAlignTop actions">
                                            <a ng-click="confirmRemoveArrayEntry(resource.roles, role)" class="kuiButton kuiButton--danger kuiButton--iconText">
                                                <span class="kuiButton__icon kuiIcon fa-trash-o"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="kuiTableRow">
                                        <td class="kuiTableRowCell cellAlignTop actions"></td>
                                        <td class="kuiTableRowCell cellAlignTop actions">
                                            <button type="button" ng-click="addArrayEntry(resource, 'roles', '')" ng-disabled="lastArrayEntryEmpty(resource.roles)" class="kuiButton kuiButton--primary kuiButton--iconText">
                                                <span class="kuiButton__icon kuiIcon fa-plus"></span>
                                                Add Backend Role
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="formsubmit">
                                <button ng-disabled="!endpointAndMethodEnabled('INTERNALUSERS', 'PUT') || resource.readonly" class="kuiButton kuiButton--primary kuiButton--text" type="submit">Submit</button>
                                <button class="kuiButton kuiButton--basic kuiButton--text" type="submit" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <sgc-confirmation-modal ng-if="deleteFromEditModal.displayModal"
            header="{{deleteFromEditModal.header}}"
            body="{{deleteFromEditModal.body}}"
            params="deleteFromEditModal.params"
            on-confirm="deleteFromEditModal.onConfirm"
            on-close="deleteFromEditModal.onClose"
        ></sgc-confirmation-modal>
    </div>
</div>
