<div class="kuiLocalNav">
    <div class="kuiLocalNavRow">
        <div class="kuiLocalNavRow__section">
            <div class="kuiLocalTitle">
                {{title()}}
            </div>
        </div>
    </div>
    <div class="kuiLocalNavRow__section">
        <div class="kuiLocalTitle"><sg-license-warning ></sg-license-warning></div>
    </div>
</div>
