<div class="global-nav-link" tooltip="{{logoutButtonMessage}}" tooltip-placement="right" tooltip-popup-delay="0" tooltip-append-to-body="1"
    icon="'plugins/security/images/logout.svg'" tooltip-content="{{logoutButtonMessage}}" title="'Logout'">

    <a class="global-nav-link__anchor" ng-click="logout()">
        <div class="global-nav-link__icon">
            <i class="fa fa-sign-out global-nav-link__icon-image"></i>
        </div>
        <div class="global-nav-link__title ng-binding">
            {{logoutButtonMessage}}
        </div>
    </a>

</div>