<div class="kuiLocalNav">
    <div class="kuiLocalNavRow">
        <div class="kuiLocalNavRow__section">
            <div class="headerHeadline">
                <span id="sg.label.header.title">{{title}}</span><br/>
                <span id="sg.label.header.numresources">{{numresources}} entries found.</span>
            </div>
        </div>
    </div>
    <div class="kuiLocalNavRow__section">
        <div class="kuiLocalTitle"><sg-license-warning ></sg-license-warning></div>
    </div>
</div>
